
.search-box {
  margin: 0 auto;
  padding: 50px 0;
}

.input-box {
  width: 80%;
  display: inline-block;
}

.search-button {
  margin-top: 12px;
  margin-left: -4px;
}

/* Rounded avatars */
.avatar {
  margin: 0 auto;
}

.avatar img {
  float: left;
  margin-top: 1em;
  margin-right: 1em;
  position: relative;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}
