<!DOCTYPE html>
<html class="no-js" lang="zh-cn" dir="ltr">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../static/css/foundation.css">
      <link rel="stylesheet" href="../static/css/app.css">
    <title>{{title}}</title>
  </head>
  <body>
    {% body %}
  </body>
  <script src="../static/js/vendor/jquery.js"></script>
  <script src="../static/js/vendor/what-input.js"></script>
  <script src="../static/js/vendor/foundation.js"></script>
  <script src="../static/js/app.js"></script>
</html>
